# Logs
logs
docs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
*__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


/roster/data/
/roster/data/*

*.env

# Test
coverage
.env.test

# LaTeX 编译生成文件
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.xdv
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb